@model List<Book>
@{
    ViewBag.Title = "Books";
}
<h2>List</h2>
<!--a asp-controller="Book" asp-action="Add">Add New Book</a-->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Rating</td>
                <td>
                    <a asp-controller="Review" asp-action="List" asp-route-id="@book.BookId">Review</a>
                    <!--a asp-controller="Book" asp-action="Delete" asp-route-id="@book.BookId">Delete</a-->
            </td>
            </tr>
        }
    </tbody>
</table>